<div class="form-container">

  <form [formGroup]="potientForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email" placeholder="Введите email" />
      <div *ngIf="potientForm.get('email')?.invalid && potientForm.get('email')?.touched" class="error">
        Пожалуйста, введите корректный email.
      </div>
    </div>

    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <input id="username" type="text" formControlName="username" placeholder="Введите имя пользователя" />
      <div *ngIf="potientForm.get('username')?.invalid && potientForm.get('username')?.touched" class="error">
        Имя пользователя обязательно.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль:</label>
      <input id="password" type="password" formControlName="password" placeholder="Введите пароль" />
      <div *ngIf="potientForm.get('password')?.invalid && potientForm.get('password')?.touched" class="error">
        Пароль обязателен.
      </div>
    </div>

    <div class="form-group">
      <label for="fullname">ФИО:</label>
      <input id="fullname" type="text" formControlName="fullname" placeholder="Введите полное имя" />
      <div *ngIf="potientForm.get('fullname')?.invalid && potientForm.get('fullname')?.touched" class="error">
        Полное имя обязательно.
      </div>
    </div>

    <div class="form-group">
      <label for="address">Адрес:</label>
      <input id="address" type="text" formControlName="address" placeholder="Введите адрес" />
      <div *ngIf="potientForm.get('address')?.invalid && potientForm.get('address')?.touched" class="error">
        Адрес обязателен.
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Телефон:</label>
      <input id="phone" type="tel" formControlName="phone" placeholder="Введите телефон" />
      <div *ngIf="potientForm.get('phone')?.invalid && potientForm.get('phone')?.touched" class="error">
        Телефон обязателен.
      </div>
    </div>

    <div class="form-group">
      <label for="birthyear">Год рождения:</label>
      <input id="birthyear" type="number" formControlName="birthyear" placeholder="Введите год рождения" />
      <div *ngIf="potientForm.get('birthyear')?.invalid && potientForm.get('birthyear')?.touched" class="error">
        Пожалуйста, введите корректный год рождения.
      </div>
    </div>

    <button type="submit" [disabled]="potientForm.invalid">Зарегистрироваться</button>
  </form>
</div>
