<div class="min-h-screen bg-gray-600 bg-[url('./assets/images/fon3.jpg')]   text-white flex flex-col justify-center items-center">
  <nav class="absolute  bg-blue-300 top-0 left-0 w-full p-4 flex justify-between items-center">
    <div class="text-2xl text-blue-900 font-bold">SIA.MED | Навбати электронӣ дар дармонгоҳ</div>
    <div class="flex gap-4">
<button>
        <select class="p-2 text-black bg-blue-300 border rounded-md">
          <option value="en">English</option>
          <option value="ru">Русский</option>
          <option value="tj">Тоҷикӣ</option>
        </select>
</button>

    </div>
  </nav>

  <div class="text-center mt-10">
    <h1 class="text-4xl text-blue-800 font-bold mb-4">Аз мушкилот ва сарфаи вақт канорагирӣ кунед.</h1>

    <p class="text-lg text-2xl text-blue-800 mb-8">Системаи навбати электронии SIA.MED барои беморхонаҳо раванди навбатро содда мекунад, ки дар он метавонед онлайн навбат бигиред</p>
    <button class="bg-blue-600 px-8 py-4 rounded hover:bg-blue-700 text-white font-semibold">
      <a routerLink="/login"  class="text-white text-2xl ">ДАРОМАД</a>
    </button>
  </div>

  <footer class="absolute bottom-0 left-0 w-full  bg-blue-300 text-center p-4 text-blue-800">
    Веб сайт разработан SIA-group.
  </footer>
</div>
